*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-none {
    display: none;
}
.d-flex {
    display: flex;
}

html {
    font-family: sans-serif;
}

body {
    background-color: black;
    padding: 0 0.5rem;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    color: white;
    font-weight: 700;
}

.form-container {
    width: 80%;
    background-color: darkslategray;
    color: white;
    margin: 2rem auto;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
}

form br {
    margin-bottom: 1.5rem;
}

.squares-container {
    flex-wrap: wrap;
    border-radius: 1rem;
    background-color: darkslategray;
    margin: 3rem auto;
    padding: 1rem;
}

.square {
    width: calc((100% / 3) - 1rem);
    aspect-ratio: 1 / 1;
    background-color: blue;
    margin: 0.5rem;
    position: relative;
    color: white;
    border: 2px solid black;
}

.square span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fizz {
    background-color: green;
}
.buzz {
    background-color: yellow;
    color: black;
}

.fizz.buzz {
    background-color: red;
    color: white;
}

@media all and (min-width: 576px){

    h1 {
        font-size: 3rem;
    }
    .square {
        width: calc((100% / 5) - 1rem);
        margin: 0.5rem;
        font-size: 1.2rem;
    }

}

@media all and (min-width: 992px){
    h1 {
        font-size: 4rem;
    }
    .square {
        width: calc((100% / 10) - 1rem);
        margin: 0.5rem;
    }
}

@media all and (min-width: 1400px){
    h1 {
        font-size: 5rem;
    }
    .square {
        width: calc((100% / 15) - 1rem);
        margin: 0.5rem;
    }
}